In [207]:
--Explore all of the tables in the BooksDB
--to_read Table
SELECT TOP 1 *
FROM to_read;

--Books Table
SELECT TOP 1 *
FROM books;

--Tags table
SELECT TOP 1 *
FROM tags;

--Book Tags Table
SELECT TOP 5 *
FROM book_tags;

--ratings table
SELECT TOP 1 *
FROM ratings;

user_id,book_id
1,112

id,book_id,best_book_id,work_id,books_count,isbn,isbn13,authors,original_publication_year,original_title,title,language_code,average_rating,ratings_count,work_ratings_count,work_text_reviews_count,ratings_1,ratings_2,ratings_3,ratings_4,ratings_5,image_url,small_image_url
1,2767052,2767052,2792775,272,439023483,9780439023480,Suzanne Collins,2008,The Hunger Games,"The Hunger Games (The Hunger Games, #1)",eng,4.34,4780653,4942365,155254,66715,127936,560092,1481305,2706317,https://images.gr-assets.com/books/1447303603m/2767052.jpg,https://images.gr-assets.com/books/1447303603s/2767052.jpg

tag_id,tag_name
0,-

goodreads_book_id,tag_id,count
1,30574,167697
1,11305,37174
1,11557,34173
1,8717,12986
1,33114,12716

book_id,user_id,rating
59,35146,4

# SQL Part 3 Exercises Joins

This notebook works with the BooksDB dataset.  

**Questions 1-4** focus on how joins work in a more general sense.  If you are not sure how to best answer the questions, try manipulating the queries by changing the order of joins, the length of the TOP, or how they are ordered.  

> <span style="background-color: rgba(127, 127, 127, 0.1);"><i>Note</i>: If some of the queries are not returning quickly, you can try closing and restarting azure data studio after a few minutes.</span>

In **questions 5-8**, you will be asked to join tables to find results about titles, tags, and the books users want to read.

As you go through the questions, you will see 'Minimum Desired Output'.  This will provide you with the bare minimum columns needed to answer the questions.  When you write the queries, add as many additional columns as you need to best find your answers.

## **QUESTION 1:**  Exploring a LEFT JOIN using the **books** and **to\_read** tables

The code block below has been commented out. To answer this question, you will need to uncomment it by removing the **/\*** (line 1) and **\*/** (line 16).

**Part A:** Look at Query 1, which table is the 'Left' table and which is the 'Right'?

> Your Answer:  Left table is 'books', right table is 'to\_read'

**Part B:** Using table 2, answer the following questions: 

- When we added a  '**WHERE tr.user\_id IS NOT NULL'** clause (line 14), how did the table change?  Why?

> Your Answer: It excludes rows where there is a Null value in to\_read.user\_id

In [1]:

-- Query 1: LEFT JOIN 
SELECT TOP 5 b.title, b.average_rating, b.books_count,tr.user_id, tr.book_id
FROM BooksDB.dbo.books AS b
LEFT JOIN BooksDB.dbo.to_read AS tr
ON b.best_book_id = tr.book_id
ORDER BY b.average_rating;

-- Query 2: LEFT JOIN USING 'IS NOT NULL'
SELECT TOP 5 b.title, b.average_rating, b.books_count,tr.user_id, tr.book_id
FROM BooksDB.dbo.books AS b
LEFT JOIN BooksDB.dbo.to_read AS tr
ON b.best_book_id = tr.book_id
WHERE tr.user_id IS NOT NULL
ORDER BY b.average_rating;

title,average_rating,books_count,user_id,book_id
One Night at the Call Center,2.47,25,NULL,NULL
The Almost Moon,2.67,63,NULL,NULL
The Finkler Question,2.76,45,NULL,NULL
Four Blondes,2.8,57,449,6613
Four Blondes,2.8,57,1378,6613

title,average_rating,books_count,user_id,book_id
Four Blondes,2.8,57,449,6613
Four Blondes,2.8,57,1378,6613
Four Blondes,2.8,57,6465,6613
Four Blondes,2.8,57,6700,6613
Four Blondes,2.8,57,7830,6613

## **QUESTION 2:** Exploring **RIGHT** joins with the **books** and **to\_read** tables

You will need to uncomment the Query to answer the question.

**Part A:** Looking at the query, which table is the 'Left' and which is the 'Right'?

> Your Answer: Left table is books, right table is to\_read

**Part B:** How do the RIGHT-joined tables differ from the LEFT-joined tables in Question 1?  

> Your Answer: This returned all of the values for the right table, and  the matching rows for the left table. If there was no mathcing row on the left side- the value returns as null. This means for rows 2-5 there was no match for the book\_id in the books table. Whereas in question 1, we would have seen all of the values for title, avg\_rating and books\_count, with null values listed in user\_id and book\_id where there was no match. 2-5 would have been omitted in a left join.

In [5]:

-- Query 1: RIGHT JOIN
SELECT TOP 5 b.title, b.average_rating, b.books_count, tr.user_id, tr.book_id
FROM BooksDB.dbo.books AS b
RIGHT JOIN BooksDB.dbo.to_read AS tr
ON b.best_book_id = tr.book_id;

title,average_rating,books_count,user_id,book_id
Children of Dune (Dune Chronicles #3),3.9,116,1,112
NULL,NULL,NULL,1,235
NULL,NULL,NULL,1,533
NULL,NULL,NULL,1,1198
NULL,NULL,NULL,1,1874

## **QUESTION 3:** Exploring FULL JOINS with the **books** and **to\_read** tables

You will need to uncomment the Query to answer the question.

**Part A:**  Look at the table and explore how it was populated.  Try manipulating the query to better understand how this table works.  Try adding a WHERE clause, or ORDER BY a column on the **books** table.  Based on your exploration, can you think of when you might want a FULL join rather than a LEFT, RIGHT, or INNER?

> Your Answer: I would use a FULL JOIN if I wanted access to all of the rows in the called columns, regarless if they are null or not.

In [20]:

-- FULL JOIN
SELECT TOP 5 b.title, b.average_rating, b.books_count,tr.user_id, tr.book_id
FROM BooksDB.dbo.books AS b
FULL JOIN BooksDB.dbo.to_read AS tr
ON b.book_id = tr.book_id
WHERE average_rating IS NOT NULL
ORDER BY books_count ASC;

title,average_rating,books_count,user_id,book_id
Wreckage,3.66,1,NULL,NULL
High Noon,3.94,1,NULL,NULL
Henry & Ramona,4.14,1,NULL,NULL
Psycho,4.09,1,NULL,NULL
Wicked: The Grimmerie,4.17,1,NULL,NULL

## **QUESTION 4:** Exploring INNER Joins with the **books** and **to\_read** tables

You will need to uncomment the Query to answer the question.

**Part A:**  What does an inner join do?

> <span style="background-color: rgba(127, 127, 127, 0.1); font-family: -apple-system, BlinkMacSystemFont, sans-serif;">Your Answer: Joins the tables and only returns records that match (no null values).</span>

<span style="background-color: rgba(127, 127, 127, 0.1); font-family: -apple-system, BlinkMacSystemFont, sans-serif;"><b>Part B:</b>&nbsp;Currently this table has an <b>'IS NOT NULL'</b> in the <b>WHERE</b> clause.&nbsp; Is this necessary for this table?&nbsp; Why or Why not?&nbsp;</span> 

> Your Answer: No, because an INNER JOIN doesn't return NULL values

**Part C:**  When using SQL, you are usually returning much larger tables so every line of code will add to the compilation and return time.  Rewrite this inner join query so that it contains no redundant code.   

> Your Answer:  Update the query in the code box below.

In [29]:

-- INNER JOIN
SELECT TOP 10 b.title, b.average_rating, b.books_count,tr.user_id, tr.book_id
FROM BooksDB.dbo.books AS b
INNER JOIN BooksDB.dbo.to_read AS tr
ON b.book_id = tr.book_id
ORDER BY tr.book_id;

title,average_rating,books_count,user_id,book_id
"Harry Potter and the Half-Blood Prince (Harry Potter, #6)",4.54,275,12,1
"Harry Potter and the Half-Blood Prince (Harry Potter, #6)",4.54,275,192,1
"Harry Potter and the Half-Blood Prince (Harry Potter, #6)",4.54,275,202,1
"Harry Potter and the Half-Blood Prince (Harry Potter, #6)",4.54,275,244,1
"Harry Potter and the Half-Blood Prince (Harry Potter, #6)",4.54,275,253,1
"Harry Potter and the Half-Blood Prince (Harry Potter, #6)",4.54,275,350,1
"Harry Potter and the Half-Blood Prince (Harry Potter, #6)",4.54,275,478,1
"Harry Potter and the Half-Blood Prince (Harry Potter, #6)",4.54,275,511,1
"Harry Potter and the Half-Blood Prince (Harry Potter, #6)",4.54,275,525,1
"Harry Potter and the Half-Blood Prince (Harry Potter, #6)",4.54,275,527,1

## **QUESTION 5:**  Using joins to find the most tagged book and the most popular tag

We will be writing 3 queries to find both the most tagged book and that book's most popular tag.

**Part A:**  What is the most tagged book? _**Harry Potter and the Sorcerer's Stone (Harry Potter, #1)**_

<span style="font-family: -apple-system, BlinkMacSystemFont, sans-serif; background-color: rgba(127, 127, 127, 0.1);">Start by joining the </span> **books** <span style="font-family: -apple-system, BlinkMacSystemFont, sans-serif; background-color: rgba(127, 127, 127, 0.1);">and </span> **book\_tags**                 <span style="font-family: -apple-system, BlinkMacSystemFont, sans-serif; background-color: rgba(127, 127, 127, 0.1);">&nbsp;tables ON the books.best_book_id and book_tags.goodreads_book_id.&nbsp;&nbsp;</span>            

>                     <span style="background-color: rgba(127, 127, 127, 0.1); font-family: -apple-system, BlinkMacSystemFont, sans-serif;">We want the <i>most popular</i> book, so think about ordering the table in a way that will display both the book title and the number of times a book tag has been used.</span>
> 
> _MInimum Desired output:_  The title of the most tagged book, and the number of times the book has been tagged.

**Part B:** How many different tags have been used for the most tagged book? **100**

> <span style="font-family: -apple-system, BlinkMacSystemFont, sans-serif; background-color: rgba(127, 127, 127, 0.1);">Start by joining the&nbsp;</span>                 **books** <span style="font-family: -apple-system, BlinkMacSystemFont, sans-serif; background-color: rgba(127, 127, 127, 0.1);">and&nbsp;</span>                 **book\_tags**                 <span style="font-family: -apple-system, BlinkMacSystemFont, sans-serif; background-color: rgba(127, 127, 127, 0.1);">&nbsp;tables ON the books.best_book_id and book_tags.goodreads_book_id.&nbsp;&nbsp;<br></span>                                We want to find the _most popular_ tag id, so think about ordering in a way that will display the most popular tag id.
> 
> <span style="font-family: -apple-system, BlinkMacSystemFont, sans-serif; background-color: rgba(127, 127, 127, 0.1);"><i>Minimum Desired Output:</i> The tag id for the most popular tag used for the most tagged book.&nbsp;</span>                
> 
> <span style="font-family: -apple-system, BlinkMacSystemFont, sans-serif; background-color: rgba(127, 127, 127, 0.1);"><b>Tag Id: 30574</b></span>

<span style="font-family: -apple-system, BlinkMacSystemFont, sans-serif; background-color: rgba(127, 127, 127, 0.1);"><b>Part C: </b>What is this particular tag? <b>to-read</b></span>

> You may return this answer with a simple query.

> <span style="font-family: -apple-system, BlinkMacSystemFont, sans-serif; background-color: rgba(127, 127, 127, 0.1);"><i>Minimum Desired Output:</i>&nbsp;The tag name for the most popular tag used for the most tagged book.&nbsp;</span>                
> 
> <span style="font-family: -apple-system, BlinkMacSystemFont, sans-serif; background-color: rgba(127, 127, 127, 0.1);"><b>Tag Name: 'to-read'</b></span>

In [224]:
-- Code Here: PART A
-- Most tagged book
SELECT TOP 5
SUM (count) 'tag_count', b.best_book_id, title
FROM books AS b 
LEFT JOIN book_tags AS bt 
ON b.best_book_id = bt.goodreads_book_id
GROUP BY b.best_book_id, title
ORDER BY tag_count DESC;

--The number of unique tags the most tagged book has
SELECT 
COUNT (tag_id) 'Number of tags'
FROM book_tags 
WHERE goodreads_book_id = 3;

--The number of times the most popular tag was used for the most popular book
SELECT TOP 5
bt.count, tag_id, b.title, bt.goodreads_book_id
FROM books AS b 
LEFT JOIN book_tags AS bt 
ON b.best_book_id = bt.goodreads_book_id
WHERE b.best_book_id = 3
ORDER BY bt.count DESC;

--The tag_name of the the most popular tag used on the most poular book. 
SELECT TOP 5 *
FROM tags
WHERE tag_id = 30574;

tag_count,best_book_id,title
786374,3,"Harry Potter and the Sorcerer's Stone (Harry Potter, #1)"
679219,2429135,"The Girl with the Dragon Tattoo (Millennium, #1)"
675971,865,The Alchemist
600025,18143977,All the Light We Cannot See
597465,24280,Les Misérables

Number of tags
100

count,tag_id,title,goodreads_book_id
496107,30574,"Harry Potter and the Sorcerer's Stone (Harry Potter, #1)",3
48220,11557,"Harry Potter and the Sorcerer's Stone (Harry Potter, #1)",3
47478,11305,"Harry Potter and the Sorcerer's Stone (Harry Potter, #1)",3
44640,8717,"Harry Potter and the Sorcerer's Stone (Harry Potter, #1)",3
14984,33114,"Harry Potter and the Sorcerer's Stone (Harry Potter, #1)",3

tag_id,tag_name
30574,to-read

## **QUESTION 6:** Find a book based on a tag of your choice using joins.

Some suggestions: any hobbies you like? baking, drawing, etc. how about favorite holidays, subjects, animals, etc?

**Part A:** Explore the tags table for a tag of your choice.  Suggested ideas, try searching for one of your hobbies, a favorite time of year, favorite animal, etc.  Start by querying the tag table for your chosen tag.  (_Hint:_ in order to make sure you find all combinations of your tags, use the wildcard).  If your query returns more than one result, pick your favorite.

> > _Here is an example.  Alyce wanted to search for halloween books.  She used the wildcard, '%halloween%' and 8 different combinations were found.  Alyce selected '**halloween-storytime**', with a tag id of 13877._

> _Minimum Desired Output:_ <span style="font-family: -apple-system, BlinkMacSystemFont, sans-serif; background-color: rgba(127, 127, 127, 0.1);">tag name and tag id</span>

> **Your Tag and Tag Id: Crafts, 8433**

**Part B:** Now that you have the **tag id**, find the title that was tagged the most with this tag by joining the books and books\_tags tables.

> > _Alyce joined the book table with the tags table and discovered that <u>The Little Old Lady Who Was Not Afraid of Anything</u> was tagged as '**halloween-storytime**' the most._

> _Minimum Desired Output:_ <span style="background-color: rgba(127, 127, 127, 0.1); font-family: -apple-system, BlinkMacSystemFont, sans-serif;">title and tag count</span>

> **Your Title and Number of times the tag was used:**  **_On Writing: A Memoir of the Craft,_ tagged with 8433 -65 times**

In [222]:
-- Code Here:
--Look for Craft books
SELECT TOP 5 bt.goodreads_book_id, bt.tag_id, t.tag_name
FROM book_tags as bt 
LEFT JOIN tags AS t 
ON bt.tag_id = t.tag_id
WHERE tag_name = 'craft'
ORDER BY count DESC;

--Title that was tagged the most as 'craft, 8433'
SELECT TOP 5
SUM(bt.count) AS tag_count, title
FROM books AS b
LEFT JOIN book_tags AS bt
ON b.best_book_id = bt.goodreads_book_id
WHERE tag_id = 8433
GROUP BY title
ORDER BY tag_count DESC;

goodreads_book_id,tag_id,tag_name
10569,8433,craft
12543,8433,craft
33514,8433,craft
44905,8433,craft
1319,8433,craft

tag_count,title
65,On Writing: A Memoir of the Craft
46,Bird by Bird: Some Instructions on Writing and Life
29,The Elements of Style
22,Writing Down the Bones: Freeing the Writer Within
18,Big Magic: Creative Living Beyond Fear

## **QUESTION 7:** What are the top 10 most popular book titles on the 'to read' list?

**Part A:**  Explore how the **to\_read** and **books** tables are organized, and then join them.  What will you use as a key?

> Your Answer: book\_id

**Part B:** Organize your newly joined table in a way that groups popularity based on the title based on users.

> _Hint:_ Suggest using an alias for the aggregation you will need to run on the **user\_id**

> _Minimum Desired Output:_ title and aliased column

In [178]:
-- Code Here:
--This counts the book_ids to tell you what the most popular book is on the to_read table. Title NULL values omitted. The Ultimate Hitchhikers 
--Guide to the Galaxy appeared on 1,812 user's to_read lists making it the most popular. 
SELECT TOP 10 
COUNT (tr.book_id) 'most popular book count', tr.book_id, title
FROM to_read AS tr
LEFT JOIN books AS b 
ON tr.book_id = b.book_id
WHERE b.title IS NOT NULL
GROUP BY tr.book_id, b.title
ORDER BY [most popular book count] DESC;

most popular book count,book_id,title
1812,13,The Ultimate Hitchhiker's Guide to the Galaxy
1767,11,"The Hitchhiker's Guide to the Galaxy (Hitchhiker's Guide to the Galaxy, #1)"
1499,119,The Lord of the Rings: The Art of The Fellowship of the Ring
1498,8,"Harry Potter Boxed Set, Books 1-5 (Harry Potter, #1-5)"
1484,6,"Harry Potter and the Goblet of Fire (Harry Potter, #4)"
1352,67,The Known World
1293,5,"Harry Potter and the Prisoner of Azkaban (Harry Potter, #3)"
1211,36,The Lord of the Rings: Weapons and Warfare
1148,28,Notes from a Small Island
1110,10,"Harry Potter Collection (Harry Potter, #1-6)"

## **QUESTION 8:** Largest 'To Read' Lists

**Part A:**  Create a query that returns a table that contains the top 10 users with the most number of titles on their 'to read' list.    Group all the entries by user\_id.  

> _Hint:_ You might want an alias for the titles.
> 
> _Minimum Desired Output:_  user\_id and your aliased column of titles.

**Part B:**  The longest list length is 15 titles total, and is shared by 4 different users.  Select one of the uses and print out their entire '**to read**' list.

In [177]:
-- Code Here:
SELECT TOP 10
COUNT (user_id) as "Number of book on /to read/ list", user_id
FROM books AS b
LEFT JOIN to_read AS tr
ON tr.book_id = b.book_id
GROUP BY user_id
ORDER BY [Number of book on /to read/ list] DESC;

SELECT title 
FROM to_read AS tr 
LEFT JOIN books as b 
ON tr.book_id = b.book_id
WHERE user_id = 14771 AND title IS NOT NULL;

Number of book on /to read/ list,user_id
15,14771
15,12483
15,11932
15,38201
14,36923
14,41523
14,27933
14,37359
13,25734
13,51137

title
"The Fellowship of the Ring (The Lord of the Rings, #1)"
"Harry Potter and the Order of the Phoenix (Harry Potter, #5)"
"Harry Potter and the Goblet of Fire (Harry Potter, #4)"
J.R.R. Tolkien 4-Book Boxed Set: The Hobbit and The Lord of the Rings
In a Sunburned Country
A Widow for One Year
Tropic of Cancer
The Iliad/The Odyssey
The Lost Continent: Travels in Small Town America
The New York Trilogy
The Lord of the Rings: The Art of The Fellowship of the Ring
The Known World
Ten Apples Up On Top!
Leviathan
What to Expect the First Year (What to Expect)